.Sections{
    width: 100%;
    /* background-color: #eee; */
    max-width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

@media(max-width:699px)
{
    .Sections{
        display: none;
    }
}