.Card{
    padding: 10px;
    width: 40%;
    margin: 0 30% 0 30%;
    max-width: 100%;
    margin-bottom:10px; 
    margin-right: 10px;
    border: 0.3px solid #eff4ff;
    text-align: center;
}
.Image{
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 250px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}
img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.Link{
    font-size: .9rem;
}
a{
    color: inherit;
    text-decoration:none;
}
a:hover{
    color: inherit;
    text-decoration: underline;
}


.Extra{
    /* text-align: right; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 0.8rem;
    border-top: .6px solid lightgray;
}

.Icon{
    cursor: pointer;
}

.Article{
    display: none;
    font-size: 0.85rem;
}
@media(max-width:699px)
{
    .Link{
        font-size: 1rem;
    }
    .Card{
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 0;
    }
}