.Footer{
    width: 100%;
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    bottom: 5px;
    background-color: rgba(22, 24, 4, 0.986);
    color: white;
}