.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  /* border: 2px dodgerblue solid; */
}

.News{
  width: 100%;
  max-width: 100%;;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
.Categories{
  width: 20%;
  max-width: 100%;
  border: 1px solid #eee;

}
.MainNews{
  width: 90%;
  box-sizing: border-box;
  margin: 0 0 10px 10%;
  border: 1px solid #eee;;
  box-sizing: border-box;
  padding: 10px;
}

